.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.users {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.users img {
  width: 3em;
  height: 3em;
}

.user {
  border: 2px solid #dddddd;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.4em;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.userName h5 {
  margin-bottom: 0;
}

.userName p {
  margin-top: 0;
  font-size: 0.5rem;
}

.review {
  width: 80%;
  margin: 1em;
  font-size: 0.8rem;
  align-self: center;
}
